[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
mypy = "*"
pytest = "*"

[packages]
lxml = "*"
fake-useragent = {git = "https://github.com/dongweiming/fake-useragent.git",ref = "master"}
aiohttp = "*"
aiosmtplib = "*"
aiofiles = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
